.styleInput{
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 30px;
    color: white;

}
html{
    height: 100%;
    background: url("/src/assets/image/backgraund.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.styleBlock{
    border: 2px solid #111175;
    padding: 10px;
    border-radius: 10px;
    background: rgb(0,0,0,0.5);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

